header {
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: lightskyblue;
}

#corp {
    padding: inherit;
    text-align: center;
    background-image: url("../img/sports2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40%;
}

#divForm {
    size: 200px;
    position: relative;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    padding: 50px;
    background-color: beige;
    float: left;
}
